* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

.part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

nav h1 {
    font-size: 28px;
}

nav h1 i {
    rotate: 45deg;
    display: inline-block;
}

nav h4 {
    font-size: 16px;
    font-weight: 500;
}

nav button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid #000;
}

.center {
    padding: 60px 40px;
    height: 80%;
    width: 100%;
    display: flex;
}

.center-part1 {
    height: 100%;
    width: 50%;
}



.center-part1 h1 {
    font-size: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.center-part1 p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    width: 95%;
}

.center-part1 button {
    background-color: black;
    color: #fff;
    border-radius: 20px;
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 600;
    border: none;
}
.center-part2 {
    height: 100%;
    width: 56%;
    position: relative;
}
.center-part2 img {
    position: absolute;
    height: 100%;
    right: 0;
}

.section1bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.section1bottom img {
    height: 60px;
    background-color: #fff;;
}

.section2 .services {
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-top: 30px;
}

.services h3 {
    background-color: #9AE975;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
}

.services p {
    width: 40%;
    font-size: 20px;
}

.container {
    min-height: 90vh;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

.elem {
    flex-shrink: 0;
    height: 250px;
    width: 48%;
    padding: 50px;
    border: 3px solid #000;
    border-radius: 40px;
    /* background-color: red; */
    box-shadow: 0px 10px 0px black;
    display: flex;
}

.elem-part1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.elem-part2 {
    height: 100%;
    width: 50%;
}

.elem-part2 img {
    height: 100%;
}

.elem-part1 h2 {
    font-size: 30px;
    font-weight: 500;
    width: 90%;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #9AE975;
}

.elem-part1 h4 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    gap: 10px;
}

.elem-part1 h4 i {
    padding: 1px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
}

.black {
    background-color: black;
}

.black h2 {
    background-color: white;
}

.black h4 {
    color: white;
}

.black h4 i {
    background-color: white;
    color: black;
}