* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height:100%;
  width:100%;

}

main {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction :column;
}



.box {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background: linear-gradient(to right bottom, lightblue, cadetblue)
}

button {
  padding: 20px 100px;
  border-radius: 50px;
  background: linear-gradient(lightseagreen, seagreen);
  border: none;
  color :#000;
  font-size: 25px;
  font-weight: 700;
}

button:active {
  scale: 0.96;
}

img{
  height: 200px;
}